* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  max-width: 1300px;
  margin: auto;
}
/* share style */
.flex {
  display: flex;
}
.heading-description {
  font-size: 1rem;
  font-weight: 400;
  color: #3e3e3e;
  margin-top: 20px;
  margin-bottom: 30px;
}
.btn {
  width: fit-content;
  font-size: 1rem;
  font-weight: 500;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 12px 20px;
  background: linear-gradient(#ff8063, #f46060);
  transition: transform 0.7s;
}
.btn:hover {
  cursor: pointer;
  transform: scale(1.25);
}
.heading {
  font-size: 48px;
  font-weight: bold;
  color: #363958;
}
.heading span {
  color: #f46060;
}

/* navbar */
header {
  margin-top: 50px;
}
.navbar ul {
  gap: 40px;
  justify-content: right;
}
.navbar li {
  list-style: none;
}
.navbar a {
  text-decoration: none;
  color: #3c3c3c;
}
/* banner */
.banner {
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

@keyframes left-to-right {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  /* 30% {
    opacity: 0;
    transform: translateX(-40px);
  } */
  40% {
    color: orange;
  }
  50% {
    opacity: 0.5;
    visibility: visible;
    transform: translateX(-25px);
  }
  100% {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }
}
.banner-left {
  visibility: hidden;
  animation: left-to-right 0.7s ease-out forwards;
  animation-delay: 1s;
}
.banner-heading {
  font-size: 80px;
  font-weight: bold;
}
.banner span {
  color: #ff8367;
}

@keyframes right-to-left {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  30% {
    color: orange;
  }
  50% {
    opacity: 0.5;
    visibility: visible;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }
}
.banner-right {
  width: 50%;
  position: relative;
  visibility: hidden;
  animation: right-to-left 0.7s ease-out 1s forwards;
}
.banner img {
  width: 100%;
}
.right-bg-circal {
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: #f46060;
  border-radius: 50%;
  bottom: 51px;
  right: -6px;
}
/* about */
.about-container {
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}

.about-left {
  width: 100%;
  animation: left-to-right 0.7s ease-out forwards;
}
.about-left img {
  width: 100%;
}
.about-right {
  width: 70%;
  animation: right-to-left 0.7s ease-out forwards;
}
/* project */
.project-container {
  margin-top: 100px;
  margin-bottom: 100px;
}
.project-container h2 {
  text-align: center;
}
.project-card-container {
  justify-content: center;
  gap: 30px;
}
.card {
  margin-top: 70px;
  padding: 10px;
  box-shadow: 0 6px 19px 0 rgba(0, 0, 0, 0.15);
  transition: transform 1s;
}
.card:hover {
  transform: scale(1.09);
}
.card img {
  width: 100%;
}
.card-heading {
  font-size: 24px;
  font-weight: bold;
  color: #363958;
  margin-top: 25px;
}
.card-description {
  font-size: 1rem;
  font-weight: 400;
  color: #6c6c6c;
  margin-top: 24px;
  margin-bottom: 20px;
}

/* inquary */
.inquary-section {
  margin-bottom: 100px;
}
.inquary-contant {
  justify-content: space-around;
  align-items: center;
  padding: 70px;
  border-radius: 30px;
  max-width: 900px;
  background: linear-gradient(#5d69e9, #4225b6);
  margin: auto;
}
.inquary-heading {
  font-size: 64px;
  font-weight: bold;
  color: white;
}

/* footer */
footer {
  text-align: center;
  margin-bottom: 50px;
}
.footer-title {
  font-size: 24px;
  font-weight: bold;
  color: #696871;
}
.footer-email {
  font-size: 36px;
  font-weight: bold;
  color: black;
  margin-top: 20px;
  margin-bottom: 20px;
}
.footer-icon {
  gap: 50px;
  justify-content: center;
}
.footer-icon img {
  width: 40px;
  transition: transform 1s;
}
.footer-icon img:hover {
  transform: scale(1.25);
}
/* media quary */

@media screen and (max-width: 576px) {
  .navbar ul {
    justify-content: center;
  }
  .banner {
    flex-direction: column-reverse;
    padding: 0 20px 0 20px;
  }
  .banner-heading {
    font-size: 40px;
  }
  .banner-right {
    width: 100%;
  }
  .about-container,
  .project-card-container {
    flex-direction: column;
    padding: 0 20px 0 20px;
  }
  .about-right {
    width: 100%;
  }

  .heading {
    font-size: 30px;
    padding: 0 20px 0 20px;
  }

  /* none */
  .right-bg-circal {
    display: none;
  }
  .inquary-section {
    padding: 0 20px 0 20px;
  }
  .inquary-contant {
    flex-direction: column;
    padding: 40px;
  }
  .inquary-heading {
    font-size: 40px;
    margin-bottom: 18px;
  }
}
@media screen and (min-width: 576px) and (max-width: 993px) {
  .navbar {
    padding: 0 20px 0 20px;
  }
  .banner,
  .about-container {
    padding: 0 20px 0 20px;
  }
  .banner-heading {
    font-size: 45px;
  }
  /* none */
  .right-bg-circal {
    display: none;
  }
  .about-right {
    width: 100%;
  }
  .inquary-section {
    padding: 0 20px 0 20px;
  }
  .inquary-heading {
    font-size: 40px;
  }
}
